<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <ul>
                <li><a href="<%= newMessageEndpoint %>">NEW MESSAGE</a></li>
            </ul>
        </header>
        <main>
            <% messages.forEach(function(message){ %>
                <div class="board">
                    <p>username: <%=message.user %></p>
                    <p>message: <%=message.text %></p>
                    <p>time added: <%=message.added%></p>
                </div>

          <%  }); %>
        </main>
        <footer>Copyright &copy; 2025</footer>
    </body>
</html>